.container-sudoku {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.content-container-sudoku {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #012465;
  box-shadow: 1px 1px 41px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 1px 41px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 41px 0px rgba(0,0,0,0.75);
  padding-bottom: 30px;
  padding-top: 30px;
  width: 90%;
}

.board {
  display: grid;
  grid-template-columns: repeat(9, 40px); /* Use columns instead of rows */
  margin-top: 20px;
  margin-bottom: 20px;
}

.cell2 {
  background: transparent;
  color: white;
  height: 40px;
  border: 1px solid #61dafb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  cursor: pointer;
}

.cell2:hover {
  background-color: #4191a7;
  color: white;
}

.content-button-selector button {
  background: transparent;
  color: white;
  font-size: 1.2em;
  width: 40px;
  height: 40px;
  border: 1px solid #61dafb;
}

.content-button-selector button:hover {
  background-color: #4191a7;
}

.cell2:nth-child(3n):not(:nth-child(9n)) {
  border-right: 3px solid #61dafb;
}

.cell2:nth-child(27n + 28),
.cell2:nth-child(27n + 29),
.cell2:nth-child(27n + 30),
.cell2:nth-child(27n + 31),
.cell2:nth-child(27n + 32),
.cell2:nth-child(27n + 33),
.cell2:nth-child(27n + 34),
.cell2:nth-child(27n + 35),
.cell2:nth-child(27n + 36) {
  border-top: 3px solid #61dafb;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.winner-container {
  position: absolute;
  text-align: center;
  top: 50vh;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  max-width: 400px;
  background-color: #012465;
  border: #add8e6 solid 3px;
  border-top-right-radius: 90px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 75px;
  border-bottom-right-radius: 30px;
  box-shadow: 1px 1px 41px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 1px 41px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 41px 0px rgba(0,0,0,0.75);
  color: #fff;
  font-size: 30px;
  padding: 20px;
  z-index: 999;
}

.win-button {
  background-color: #012465;
  border: #61dafb solid 2px;
  border-radius: 8px;
  box-shadow: 1px 1px 41px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 1px 41px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 41px 0px rgba(0,0,0,0.75);
  color: #fff;
  font-size: 19px;
  margin-bottom: 15px;
  text-transform: uppercase;
  padding: 8px;
  z-index: 1;
}

.win-button:hover {
  transform: scale(1.05);
}

.tryagain {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  text-transform: uppercase;
  font-size: 25px;
  margin-left: 20px;
}
.tryagain:hover {
  transform: scale(1.005);
  border: 1px solid red;
}

@media (max-width: 500px) {
  .cell2 {
    height: 30px;
  }

  .board {
    grid-template-columns: repeat(9, 30px);
  }
  .content-button-selector button {
    height: 30px;
    width: 30px;
  }

  .winner-container {
    max-width: 250px;
  }
}